@charset "utf-8";

*
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin:0px;
  padding:0px;
  overflow: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #050505;
}

.container {
    height: min(70vh, 70vw);
    width: min(70vh, 70vw);
    background-color: white;
    border-radius: 100%;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(2em);
    mix-blend-mode: exclusion;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.visualizer {
    border-radius: 50%;
    transition: .5s;
}

.element {
    position: absolute;
    top: calc(50% - min(5vh, 5vw));
    left: calc(50% - min(5vh, 5vw));
    width: min(10vh, 10vw);
    height: min(10vh, 10vw);
    /* border-radius: min(2vh, 2vw); */
    display: inline-block;
    /* border-top: min(8vh, 8vw) solid rgb(226, 198, 178);
    border-right: min(4vh, 4vw) solid transparent;
    border-left: min(4vh, 4vw) solid transparent; */
    background-color: white;
    border-radius: 50%;
    transition: 0.5s;
}

p {
    color: rgb(102, 85, 72);
    position: absolute;
    bottom: 10;
    left: 50%;
    transform: translateX(-50%);
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}